.contenedor-imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.contenedor-imagenes img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
